<div class="container">
  <ul class="nav nav-pills nav-fill">
    <li class="nav-item" *ngFor="let room of apartment; let i = index">
      <button id="{{i}}" class="submit btn btn-outline-info" (click)="showSensors(i)">
        {{ room }}
          </button>
        </li>
      </ul>
<div><br></div>

<div class="form-group">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <div class="nav-item" *ngFor="let sens of sensor">
          <h4 class="my-0 font-weight-normal"> {{ sens }}</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title fas fa-thermometer-half"> </h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>10°</li>
          </ul>
          <button type="button" class="btn btn-lg btn-block btn-outline-primary">History</button>
          </div>
      </div>
    </div>

<div><br></div>
<form *ngIf=show>
    <div class="form-group">
        <div><br></div>
