<div class="container">
<br>
<h5>Add sensor to apartment</h5>

<form #sensor ="ngForm">
  <input type="hidden" name="appID" [(ngModel)] = "id" class="form-control">
  <div class="form-group">
  <label for="appnumber">devEUI</label>
  <input type="text" name="devEUI" [(ngModel)] = "devEUI" class="form-control">
  </div>
  <input type="submit" (click)="addOne(sensor)" value="create sensor" class="btn btn-primary">
</form>

<div class="alert alert-info">
    <ul>
        <li *ngFor="let sensor of sensors">
            {{sensor.devEUI}} <button class="btn btn-info btn-sm"
            (click)="deleteSensor(sensor)">x</button>
        </li>
    </ul>
</div>


</div>
