<div class="container">
    <br>
<h4><mark>Streets: </mark>
</h4>
<br>
<div class="dropdown btn-block">

  <button class="btn btn-secondary btn-block dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
  *ngFor="let room of streets">
{{room}}
  </button>
  <div class="dropdown-menu btn-block" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="/sensor/1">Vanlig Lägenhet</a>
    <a class="dropdown-item" href="/sensor/2">Tvättstuga lägenhet</a>
    <a class="dropdown-item" href="#">5</a>
  </div>
</div>









<!-- <nav>
    <div class="vertical-menu">
      <a href="/sensor">Alalmedan</a>
      <a href="/sensor">Valhalavägen </a>
      <a href="/sensor">Minervavägen</a>
      <a href="/sensor">Ronnebygatan</a>
      <a href="/sensor">Björkvägen</a>
      <a href="/sensor">Alalmedan</a>
      <a href="/sensor">Hallonvägen </a>
      <a href="/sensor">Dragspelsgatan</a>
      <a href="/sensor">Forsvägen</a>
      <a href="/sensor">Dragspelsgatan</a>
      <a href="/sensor">Giseryd</a>
      <a href="/sensor">Hallstigen </a>
      <a href="/sensor">Haglövägen</a>
      <a href="/sensor">Blixtgatan</a>
      <a href="/sensor">Brovägen</a>
      <a href="/sensor">Dockegatan</a>
      <a href="/sensor">Dimgatan </a>
      <a href="/sensor">Parkgatan</a>
      <a href="/sensor">Orrabacken</a>
      <a href="/sensor">Neongatan</a>
    </div>
</nav>
<br> -->
