<div class="container">

<h1> Complexes of user {{id}}</h1>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Address</th>
            <th scope="col">City</th>
            <th scope="col">Åtgärd</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let complex of complexes">
            <th scope="row">{{complex.id}}</th>
            <td>{{complex.address}}</td>
            <td>{{complex.city}}</td>
            <td>
                <button (click)="expanded = !expanded" class="fas fa-plus btn"></button>
                <button (click)="deleteUser()" class="fas fa-trash-alt btn"></button>
            </td>
        </tr>
        <tr ng-show="expanded">
            <td colspan="3"> hey  {{expanded}}</td>
        </tr>
   </tbody>
</table>

<form #f ="ngForm">
  <div class="form-group">
  <label for="address">Address</label>
  <input type="text" name="address" [(ngModel)] = "selectedComplex.address" class="form-control">
  </div>
  <div class="form-group">
  <label for="city">City</label>
  <input type="text" name="first_name" [(ngModel)] = "selectedComplex.city" class="form-control">
  </div>
  <input type="submit" (click)="createOrUpdateUser(f)" value="create or update complex" class="btn btn-primary">
  </form>

</div>
